.footer {
    padding: 20px 0;
    background: #000;
    color: #777;
}

.footer-copyrights {
    font-size: 13px;
    line-height: 22px;
}

.footer-link {
    color: inherit;

    &:hover {
        color: #fff;
    }
}